body { 
    font-family: 'Segoe UI', sans-serif;
    background-color: #000000;
    margin: 0;                  /* configurar el margen a 0 para que se puedan observar los espacios */
    padding: 50px;
    font-size: 22px;            
    line-height: 2.0;           /* espacio ente lineas */
}

h1 {
    color: #FFFFFF;
    font-size: 33px;
    line-height: 2.0; 
}

h2 {
    color: #FFFFFF;
    font-size: 30px; 
    line-height: 2.0; 
}

h3 {
    color: #FFFFFF;
    font-size: 22px; 
    line-height: 2.0; 
}

p {
    color: #FFFFFF;
    font-size: 22px; 
    line-height: 2.0; 
}

td, ul, li {  /* Combine similar styles */
    color: #FFFFFF;
    line-height: 2.0; 
    font-size: 22px; 
}

/* Estilo de camu con strong */
camu  {
      font-weight: bold; /* Negrita camu */
      color: #ffcc00; /* Cambia este color según tus preferencias */
}

dan {
    color: #2ecc71;
}

.button-container {
    display: flex;                /* flexbox para alinear elementos */
    justify-content: center;      /* espacio entre lo botones */
    align-items: center;          /* alineación vertical */
    margin-bottom: 20px;         /* expacio entre los botones */
    width: 100%;                 /* ancho del contenedor */
}

.dropdown-button {
    background-color: #FFFFFF; 
    color: white;
    padding: 10px 20px;          /* ajuste de marcos */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;           /* alineación dle texto */
    margin: 0 10px;              /*espacio entre botones */
}

.dropdown-button:hover {
    background-color: #2ecc71;    /* cambio de color del boton */
}

.skills, .experience {
    text-align: center; /* Centrado de titulos */
}

.dropdown ul {
    text-align: justify; /* justificado de texto */
    padding-left: 0; /* quita el alineado por defecto */
    list-style-position: inside; /* Adjust the list marker position */
}

.dropdown {
    margin: 0 auto; /* centra el menu desplegable */
    width: fit-content; /* ajusta el menu desplegable */
}